.divStyle{
    border: none;
    border-radius: 5px;
    font-size: 25px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
}
.setInputRadio{
    margin-left: 60%;
    border: 1px solid black;
    position: relative;
}